<div id="appName">This is Egypt!</div>
<div>
  <div id="aim">Aim:</div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt molestias
  temporibus numquam fuga atque consequatur blanditiis veritatis iste
  accusantium commodi neque quis, vitae sequi! Officiis inventore illo aut
  accusamus, eligendi nihil, ducimus a molestias, laudantium magnam nisi
  reiciendis? Et quaerat reiciendis voluptates aspernatur a, velit suscipit
  error doloribus minus omnis.
</div>
<br />
<img [src]="pyramidsUrl" />
